@import url('https://fonts.googleapis.com/css?family=Space+Mono');

*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  margin: 0;
  font-size: 16px;
}

a{
  background: yellow;
  text-decoration: none;
  color: blue;
}

a:hover{
  background: blue;
  color: yellow;
}

p{
  margin-bottom: 1rem;
}

#note{
  position: absolute;
  z-index: 200;
  color: #000;
  top: 5px;
  left: 5px;
}

#about{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

main{
  width: 50%;
  margin: auto;
}

#cover{
  background: blue;
  height: 100vh;
  width: 100vw;
  position:absolute;
  top: 0;
  left: 0;
}

.post{
  margin: 0 1rem;
  border: 2px dotted blue;
  width: 130px;
  height: 130px;
  float: left;
  padding: 1rem;
  transform-origin: 0% 0%;
}


.name, .time{
  display: inline-block;
}
/*.name{
  font-weight: bold;
  padding-right: 1rem;
}

*/
.time{ 
  color: blue;
  font-size: 1em;
  font-weight: bold;
}

button{
  width: 100px;
  height: 50px;
  background: yellow;
  color: blue;
  font-size: 1rem;
  border: 0;
}

button:hover{
  cursor: pointer;
  background: blue;
  color: yellow;
}


form{
  width: 100%;
  position: fixed;
  top: 50%;
  text-align: center;
}

form ::-webkit-input-placeholder {
  color: #CCC;
  font-weight: 300;
}

input, textarea, button{
  font-family: 'Space Mono', monospace;
  font-weight: bold;
}
input[type="text"], textarea {
  display: table-cell;
  vertical-align: top;
  outline: none;
  background: transparent;
  border: 0;
  
  padding: 10px;
  font-size: 1rem;
}

input[type="text"]{
  height: 50px;
  background: #ffffff;
  border: 1px solid yellow;
}
